
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background-color: #e4caad; /* tono café claro */
  color: #170f0e; /* marrón oscuro */
  line-height: 1.6;
}

/* Encabezado */
header {
  background-color: #6c482f; /* café intenso */
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 2rem;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

/* Secciones */
main {
  padding: 2rem;
}

.bienvenida, .menu {
  margin-bottom: 2rem;
}

.menu ul {
  list-style: none;
}

.menu li {
  background: #fff;
  margin: 8px 0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Footer */
footer {
  background-color: #6f4e37;
  color: white;
  text-align: center;
  padding: 1rem;
}
